name: build & push [native]

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build native with Maven inside Docker
        run: mvn package -Pnative -Dquarkus.native.container-build=true
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: aldjinn/totally-useless:latest
          file: ./src/main/docker/Dockerfile.native-micro
          context: .
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
